{% extends "play/layout.html" %}
{% block content %}
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<form method='post'>{% csrf_token %}
					<h3>WHATCHA GONNA DO?!</h3>
                     <p style="word-spacing:150px;" >TITLE {{form.title}}</p>
                     <p style="word-spacing:20px;">TELL US ABOUT IT!</p>
                     <p>{{form.description}}</p>

                     <p style="word-spacing:30px;" >LOCATION {{form.location}}</p>
                     <p style="word-spacing:16px;" >POINTS {{form.points}} EVENT'S TYPE {{form.event_type}}</p>
                     <p style="word-spacing:155px;">DATE {{form.date}}</p>
					<input type="submit"   class="btn btn-primary btn-default" value="DO IT!">
				</form>
				</div>
			</div>
		</div><!-- /container -->
	</div>
        <br>
{% endblock %}