{% extends "play/layout_user.html" %}

{% block content %}
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>{{event.title}}</h1>
					<p>{{event.event_type}} | {{event.challenge_event}} | {{event.date}}</p>
					<p><i style="font-size:20px">{{event.description}}</i></p>
					{% for comment in previous_comments %}
					    <hr class="featurette-divider"></hr>
					    <div class="row">
					    	<div class="col-md-2">
					    		<img style="width:50px" class="img-circle"src="{{comment.commenter.picture_url}}">
					    	</div>
					    	<div class="col-md-2">
					    		<p style="font-size:10px">{{comment.commenter.user.first_name}} | {{comment.date}}</p>
					    	</div>
					    	<div class="col-md-4">
					    		<p>{{comment.comment}}</p>
					    	</div>
					    </div>
					{% endfor %}
					<br>
					<form method='post'>{% csrf_token %}
                    {{form}}
					<input type="submit"   class="btn btn-primary btn-sm" style="width:20px; height:25px; font-size:10px" value="POST">
				    </form>
				</div>
			</div>
		</div><!-- /container -->
	</div>
        <br>

{% endblock %}