{% extends "play/layout_user.html" %}
{% block content %}
	<div style="padding-top:50px" >
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			
	    			<h3>Hello {{user.first_name}}</h3>
	    			<img style="width:100px"class="img-circle" src="{{player.picture_url}}">
	    			<p>Points <b>{{player.score}}</b> | Exp <b>{{player.experience}}</b> | # Completed Challenges <b>{{num_events}}</b></p>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    	<br>
	    	<br>
	    	<div class="row centered">
	    	    <div class="col-xs-6 col-md-4">
	    	    	<h3>Leaderboard</h3>
	    	    	<p><b>Top 10</b></p>
	    	    	<ul>
	    	    		{% for top in top10 %}
	    	    		   <li>{{top.user.first_name}} - {{top.experience}}</li>
	    	    		{% endfor %}
	    	    	</ul>
	    	    </div>
  				<div class="col-xs-6 col-md-4">
  					<h3>My Events</h3>
  					<ul>
  						{% for event in my_events %}
  						    <li><p>{{event.title}} / {{event.date}}</p>
  						    	<p>Points {{event.points}}</p>
  						    	<p>Location {{event.location}}</p>
  						    	<p>Organization {{event.organization}}</p>
  						    </li>
  						{% endfor %}
  					</ul>
  				</div>
  				<div class="col-xs-6 col-md-4">
  					<h3>My Coupons</h3>
  					<ul>
  						{% for event in my_coupons %}
  						    <li><p>{{event.title}} </p>
  						    	<p>Price {{event.price}}</p>
  						    	<p>Location {{event.location}}</p>
  						    	<p>Shop {{event.shop}}</p>
  						    </li>
  						{% endfor %}
  					</ul>
  				</div>
               

 
			</div>
			<br>

	    </div> <!-- /container -->
	</div><!-- /hello -->

{% endblock %}