{% extends "play/layout_user.html" %}
{% block content %}
	<div id="hello">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Hello {{user.first_name}}</h1>
	    			<h2>WHAT'S UP?</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    	<br>
	    	<br>
	    	<div class="row">
	    		    
                    <div class="col-lg-8 col-lg-offset-2 centered"> 
                    	
                    	<button class="btn btn-primary btn-medium" data-toggle="modal" onclick="window.location.href='/create'" data-target="#myLogin">
                             CREATE NEW EVENT
                        </button>
                        <button class="btn btn-primary btn-medium" data-toggle="modal" data-target="#myLogin">
                             CHECK MY EVENTS
                        </button>
                    </div>
               

 
			</div>
	    </div> <!-- /container -->
	</div><!-- /hello -->

{% endblock %}