{% extends "play/layout_user.html" %}
{% block content %}
	<div style="padding-top:50px" >
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			
	    			<h3 style="color:#FF7400">Hello {{user.first_name}}</h3>
	    			<img style="width:100px"class="img-circle" src="{{player.picture_url}}">
	    			<p>Points <b>{{player.score}}</b> | Exp <b>{{player.experience}}</b> | # Completed Challenges <b>{{num_events}}</b></p>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    	<br>
	    	<br>
	    	<div class="row centered">
	    	    <div class="col-xs-6 col-md-4">
	    	    	<h3 style="color:#FF7400">Leaderboard</h3>
	    	    	<p><b>Top 10</b></p>
	    	    	<div class="row centered">
	    	    		<div class="col-md-4"></div>
                       <div class="col-md-6">
	    	    		{% for top in top10 %}
	    	    		  
	    	    		   	
	    	    		   	
	    	    		<p style="text-align:left"><img style="width:30px;"class="img-circle" src="{{top.picture_url}}"> {{top.user.first_name}} | EXP {{top.experience}}</p>
	    	    		 
	    	    		   
	    	    		{% endfor %}
	    	    	</div>
	    	    	</div>
	    	    </div>
  				<div class="col-xs-6 col-md-4">
  					<h3 style="color:#FF7400">My Events</h3>
  					<ul >
  						{% for event in my_events %}
  						    <li ><p >{{event.title}} / {{event.date}}<br>
  						    	Points {{event.points}}<br>
  						    	Location {{event.location}}<br>
  						    	Organization {{event.organization}}</p>
  						    </li>
  						{% endfor %}
  					</ul>
  				</div>
  				<div class="col-xs-6 col-md-4">
  					<h3 style="color:#FF7400">My Coupons</h3>
  					<ul>
  						{% for event in my_coupons %}
  						    <li><p>{{event.title}} <br>
  						    	Price {{event.price}}<br>
  						    	Location {{event.location}}<br>
  						    	Shop {{event.shop}}</p>
  						    </li>
  						{% endfor %}
  					</ul>
  				</div>
               

 
			</div>
			<br>

	    </div> <!-- /container -->
	</div><!-- /hello -->

{% endblock %}