{% extends "play/layout_user.html" %}
{% block content %}

<div id="social">
		<div class="container" >
			<div class="row">
				<br>
				<h3>THE LEADERBOARD</h3>
        <h4 style="">Your position #{{player_position}}</h4>
				<div class="col-md-8">

					<div class="panel-group" id="accordion">
						
						{% for position, p in lis %}
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-1">
								<h1>{{position}}</h1>
							</div>
							<div style=" padding-top:20px"class="col-md-2">
								<img style="width:60px;"class="img-circle" src="{{p.picture_url}}">
							</div>
							<div class="col-md-4">
								<h3>{{p.user.first_name}}  {{p.user.last_name}}  </h3>
								<p><b>EXP {{p.experience}}</b></p>
							</div>
						</div>
  						{% endfor %}

					</div>


				</div>
        
				
			</div>
		</div> 
	</div>

{% endblock %}