{% extends "play/layout.html" %}
{% block content %}
<!--login modal-->
  <section id="contact"></section>
  <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>LET'S DO IT! (*)</h2>
          <br><br>
          <!--
          <div class="col-md-3">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>-->
          <form method='post'>{% csrf_token %}

          <p><input placeholder="Email" type="email" name="username"></p><p> <input type="password" placeholder="Password" name="password" ></p>
          <input type="submit"   class="btn btn-primary btn-default" value="Login">
        </form>
        <br><br><br>
                  <h4><span style="font-size:37px">*</span> Currently this web app is available only for organizations and business. Soon we will release on the <i style="font-size:20px"class="fa fa-apple fa-fw"></i> Store also the app for the players. If you are the owner of a business or related to an organization and you are interested in an account contact me at <a href="mailto:me@francescomariaferrari.com">me@francescomariaferrari.com</a></h4>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /social -->


{% endblock %}