{% extends "play/layout_user.html" %}
{% block content %}

<div id="social">
    <div  class="container"  >

      <div class="row">
        <div class="col-md-4"></div>
        <br>
        
        <div style="background-color:#F8F8F8"class="col-md-7">
         <h2>
              WHAT'S GOING ON IN PALO ALTO
             <!-- Button trigger modal -->
              <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                Filter
              </button>
         </h2>



          <div class="panel-group" id="accordion">
            




          <a data-toggle="collapse" data-parent="#accordion" href="#collapseCha">
              <h3>CHALLENGES  <i style="font-size:30px"class="fa fa-rocket"></i></h3>
          </a>
          <div id="collapseCha" class="panel-collapse in collapse col-md-12">
            <div class="panel-body">


            {% for result in events.challenges %}

            <hr class="featurette-divider"></hr>
            <div class="row">
              <div class="col-md-1">
                <img style="width:50px; height:50px"src="{{result.picture_url}}">
              </div> 
              <div class="col-md-1"></div>
              <div style="padding-top:0px" class="col-md-3">
                <h3 style="font-size:15px"><a href="/event/?id_event={{result.id}}">{{result.title}}</a></h3>
                <p># comments {{result.comment_set.all|length}}</p>
              </div>
              <div class="col-md-5">
                <p><b>TYPE</b><span class='type'> {{result.event_type}}</span><br>
                <b>WHAT</b> {{result.description}}<br>
                <b>WHERE</b> {{result.location}}<br>
                <b>POINTS</b> {{result.points}} | <b>EXP</b> {{result.experience}}</p>
              </div>
              
              <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
                        <i class="fa fa-group" style="font-size:15px"></i>
                    </a>
              </div>
              
              <div class="col-md-1">
                <a href="/look_events/?id_event={{result.id}}"><i class="fa fa-check-square-o" style="font-size:15px"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
                <div id="collapse{{result.id}}" class="panel-collapse collapse col-md-4">
                    <div class="panel-body">
                    <ul style="color:black">
                                   {% for person in result.participants.all %}
                                     <li style="color:black"><img style="width:30px;"class="img-circle" src="{{person.picture_url}}" >{{person.user.first_name}} {{person.user.last_name}}</li>
                                   {% endfor %}
                                  </ul>
                  </div>
                </div>
            </div>

              {% endfor %}
        </div>
        
        
      </div>


















          <a data-toggle="collapse" data-parent="#accordion" href="#collapseToday">
              <h3>CURRENT EVENTS  <i style="font-size:30px"class="fa fa-eye"></i></h3>
          </a>

          
          <div id="collapseToday" class="panel-collapse collapse in col-md-12">
            <div class="panel-body">
          {% for result in events.today %}
            <hr class="featurette-divider"></hr>
            <div class="row">
              <div class="col-md-1">
                <img style="width:80px; height:80px"src="{{result.picture_url}}">
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <h3><a href="/event/?id_event={{result.id}}">{{result.title}}</a></h3>
                <p># comments {{result.comment_set.all|length}}</p>
              </div>
              <div class="col-md-5">
                <p><b>WHAT</b> {{result.description}}<br>
                <b>WHERE</b> {{result.location}}<br>

                 <b>WHEN</b> {{result.date}}<br>

                <b>POINTS</b> {{result.points}} | <b>EXP</b> {{result.experience}}</p>
              </div>
              
              <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
                        <i class="fa fa-group" style="font-size:15px"></i>
                    </a>
              </div>
              
              <div class="col-md-1">
                <p style="font-size:12px"><a href="/look_events/?id_event={{result.id}}"><i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
                <div id="collapse{{result.id}}" class="panel-collapse collapse col-md-4">
                    <div class="panel-body">
                    <ul style="color:black">
                                   {% for person in result.participants.all %}
                                     <li style="color:black"><img style="width:30px;"class="img-circle" src="{{person.picture_url}}" >{{person.user.first_name}} {{person.user.last_name}}</li>
                                   {% endfor %}
                                  </ul>
                  </div>
                </div>
            </div>

              {% endfor %}
              </div>
            </div>







          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFuture">
              <h3>FUTURE  EVENTS<i style="font-size:30px"class="fa fa-eye"></i></h3>
          </a>

          
          <div id="collapseFuture" class="panel-collapse collapse col-md-12">
            <div class="panel-body">
            {% for result in events.future %}
            <hr class="featurette-divider"></hr>
            <div class="row">
              <div class="col-md-1">
                <img style="width:80px; height:80px"src="{{result.picture_url}}">
              </div> 
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <h3><a href="/event/?id_event={{result.id}}">{{result.title}}</a></h3>
                <p># comments {{result.comment_set.all|length}}</p>
              </div>
              <div class="col-md-5">
                <p><b>WHAT</b> {{result.description}}<br>
                <b>WHERE</b> {{result.location}}<br>

                 <b>WHEN</b> {{result.date}}<br>

                <b>POINTS</b> {{result.points}} | <b>EXP</b> {{result.experience}}</p>
              </div>
              
              <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
                       <i class="fa fa-group" style="font-size:15px"></i>
                    </a>
              </div>
              
              <div class="col-md-1">
                <p style="font-size:12px"><a href="/look_events/?id_event={{result.id}}"><i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
                <div id="collapse{{result.id}}" class="panel-collapse collapse col-md-4">
                    <div class="panel-body">
                    <ul style="color:black">
                                   {% for person in result.participants.all %}
                                     <li style="color:black"><img style="width:30px;"class="img-circle" src="{{person.picture_url}}" >{{person.user.first_name}} {{person.user.last_name}}</li>
                                   {% endfor %}
                                  </ul>
                  </div>
                </div>
            </div>

              {% endfor %}
              </div>
            </div>




          <a data-toggle="collapse" data-parent="#accordion" href="#collapsePast">
              <h3>PAST EVENTS<i style="font-size:30px"class="fa fa-eye"></i></h3>
          </a>

          
          <div id="collapsePast" class="panel-collapse collapse col-md-12">
            <div class="panel-body">
            {% for result in events.past %}
            <hr class="featurette-divider"></hr>
            <div class="row">
              <div class="col-md-1">
                <img style="width:80px; height:80px"src="{{result.picture_url}}">
              </div> 
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <h3><a href="/event/?id_event={{result.id}}">{{result.title}}</a></h3>
                <p># comments {{result.comment_set.all|length}}</p>
              </div>
              <div class="col-md-5">
                <p><b>WHAT</b> {{result.description}}<br>
                <b>WHERE</b> {{result.location}}<br>
                
                 <b>WHEN</b> {{result.date}}<br>

                <b>POINTS</b> {{result.points}} | <b>EXP</b> {{result.experience}}</p>
              </div>
              
              <div class="col-md-1">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
                        <i class="fa fa-group" style="font-size:15px"></i>
                    </a>
              </div>
              
              <div class="col-md-1">
                <p style="font-size:12px"><a href="/look_events/?id_event={{result.id}}"><i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
                <div id="collapse{{result.id}}" class="panel-collapse collapse col-md-4">
                    <div class="panel-body">
                    <ul style="color:black">
                                   {% for person in result.participants.all %}
                                     <li style="color:black"><img style="width:30px;"class="img-circle" src="{{person.picture_url}}" >{{person.user.first_name}} {{person.user.last_name}}</li>
                                   {% endfor %}
                                  </ul>
                  </div>
                </div>
            </div>

              {% endfor %}
              </div>
            </div>

             </div>
            </div>
            <div class="col-md-1"></div>
            <div style="background-color:#F8F8F8" class="col-md-3">

             <h3>WHAT'S POPULAR ON YELP THIS WEEK</h3>
             {% for title, url in yelp %}

                <hr class="featurette-divider"></hr>
                <div class="row">
                  <div style="padding:0px" class="col-md-9">
                    <p>{{title}}</p>
                  </div>
                  <div style="padding:0px"class="col-md-3">
                    <a href="http://www.yelp.com{{url}}">
                      <i style="font-size:20px"class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>

             {% endfor %}


            </div><!--yelp-->



              </div><!--row-->





            </div><!--contaneir-->
          </div> <!--social-->





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Find your event</h4>
      </div>
      <div class="modal-body">
        <div id="users">
            <input class="search" placeholder="Search..." />
            <p style="font-size:15px">(Search by category or name. Categories: Animals, Art, Environment, Shopping, Elders, Food. )</p>

            <ul class="list">
              {% for result in events.challenges %}
                <li>
                     <h3  class="name"><a href="/event/?id_event={{result.id}}">{{result.title}}</a> 
                      | {{result.event_type}}</h3>
                     <p>Type: {{result.challenge_event}}<br>
                     Points: {{result.points}} | Exp: {{result.points}}</p>
                     <p style="font-size:18px"><a href="/look_events/?id_event={{result.id}}">Join  <i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
                </li>
              {% endfor %}
              {% for result in events.today %}
                <li>
                     <h3  class="name"><a href="/event/?id_event={{result.id}}">{{result.title}}</a> 
                      | {{result.event_type}}</h3>
                     <p>Type: {{result.challenge_event}}<br>
                     Points: {{result.points}} | Exp: {{result.points}}</p>
                     <p style="font-size:18px"><a href="/look_events/?id_event={{result.id}}">Join  <i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
                </li>
              {% endfor %}
              {% for result in events.future %}
                <li>
                     <h3  class="name"><a href="/event/?id_event={{result.id}}">{{result.title}}</a> 
                      | {{result.event_type}}</h3>
                     <p>Type: {{result.challenge_event}}<br>
                     Points: {{result.points}} | Exp: {{result.points}}</p>
                     <p style="font-size:18px"><a href="/look_events/?id_event={{result.id}}">Join  <i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
                </li>
              {% endfor %}
              {% for result in events.past %}
                <li>
                     <h3  class="name"><a href="/event/?id_event={{result.id}}">{{result.title}}</a> 
                      | {{result.event_type}}</h3>
                     <p>Type: {{result.challenge_event}}<br>
                     Points: {{result.points}} | Exp: {{result.points}}</p>
                     <p style="font-size:18px"><a href="/look_events/?id_event={{result.id}}">Join  <i class="fa fa-check-square-o" style="font-size:15px"></i></a></p>
                </li>
              {% endfor %}
            </ul>

          </div>
        <script src="http://listjs.com/no-cdn/list.js"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var options = {
  valueNames: [ 'name', 'born' ]
};

var userList = new List('users', options);
</script>
{% endblock %}