{% extends "play/layout_user.html" %}
{% block content %}

<div id="skills">
		<div class="container" >
			<div class="row">
				<br>
				<h3>WHAT'S GOING ON IN PALO ALTO</h3>
				<div class="col-md-8">

					<div class="panel-group" id="accordion">
						
						{% for result, comment in comment_events %}
  						<div >
    						<div >
      						<h4 style="color:orange">
      							<i class="fa fa-hand-o-right"></i><a href="/event/?id_event={{result.id}}"> {{result.title}} <span style="font-size:12px">(# comments {{comment}})</span></a>/ {{result.date}}  <span style="font-size:20px">(<a href="/look_events/?id_event={{result.id}}"><i class="fa fa-thumbs-up"></i> JOIN</a>)</span>
      						</h4>
      						<ul style="color:black">
      							<li><p>DESCRIPTION____ {{result.description}}</p></li>
      							<li><p>LOCATION____ {{result.location}}</p></li>
                    <li><p>POINTS____ {{result.points}} / EXP____ {{result.experience}}</p></li>
      						</ul>
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
          							View parcitipants <i class="fa fa-angle-double-down"></i>
        						</a>
      						
    						</div>
    						<div id="collapse{{result.id}}" class="panel-collapse collapse">
      							<div class="panel-body">
      							<ul style="color:black">
      	                           {% for person in result.participants.all %}
                                     <li style="color:black">{{person.user.first_name}} {{person.user.last_name}}</li>
      	                           {% endfor %}
      	                          </ul>
     							</div>
    						</div>
  						</div>
  						{% endfor %}

					</div>


				</div>
        
				
			</div>
		</div> 
	</div>

{% endblock %}