{% extends "play/layout_user.html" %}
{% block content %}

<div id="social">
		<div class="container" >
			<div class="row">
				<br>
				<h3>WHAT'S GOING ON IN PALO ALTO</h3>
				<div class="col-md-8">

					<div class="panel-group" id="accordion">
						
						{% for result, comment in comment_events %}
            <hr class="featurette-divider"></hr>
            <div class="row">
              <div class="col-md-1">
                <img style="width:80px; height:80px"src="{{result.picture_url}}">
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <h3><a href="/event/?id_event={{result.id}}">{{result.title}}</a></h3>
                <p># comments {{comment}}</p>
              </div>
              <div class="col-md-6">
                <p><b>WHAT</b> {{result.description}}<br>
                <b>WHERE</b> {{result.location}}<br>
                <b>POINTS</b> {{result.points}} | <b>EXP</b> {{result.experience}}</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{result.id}}">
                        View parcitipants
                    </a>
              </div>
                <div id="collapse{{result.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                    <ul style="color:black">
                                   {% for person in result.participants.all %}
                                     <li style="color:black">{{person.user.first_name}} {{person.user.last_name}}</li>
                                   {% endfor %}
                                  </ul>
                  </div>
                </div>
            </div>

  						{% endfor %}

					</div>


				</div>
        
				
			</div>
		</div> 
	</div>

{% endblock %}