{% extends "play/layout.html" %}
{% block content %}
<div id="skills">
		<div class="container">
			<div class="row centered">
				<h3>WE ARE SUPER SORRY!</h3>
                 <p>It looks like you either don't have a Business account or something else went wrong!</p>
                 <p><span style="font-size:37px">*</span> Currently this web app is available only for organizations and business. Soon we will release on the <i style="font-size:20px"class="fa fa-apple fa-fw"></i> Store also the app for the players. If you are the owner of a business or related to an organization and you are interested in an account contact me at <a href="mailto:me@francescomariaferrari.com">me@francescomariaferrari.com</a></p>
                 <br>
                    	<button class="btn btn-primary btn-medium" data-toggle="modal" onclick="window.location.href='/'" data-target="#myLogin">
                             GO BACK TO THE HOMEPAGE
                        </button>
                
			</div>
		</div> 
</div>
{% endblock %}