{% extends "play/layout.html" %}
{% block content %}
<div id="skills">
		<div class="container">
			<div class="row centered">
				<h3>WE ARE SUPER DUPER SORRY!</h3>
                 <p>It looks like you either don't have a Business account or something else went wrong!</p>
                    	<button class="btn btn-primary btn-medium" data-toggle="modal" onclick="window.location.href='/'" data-target="#myLogin">
                             GO BACK TO THE HOMEPAGE
                        </button>
                
			</div>
		</div> 
</div>
{% endblock %}